<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="default">
        <property name="LOG_LEVEL" value="INFO" />
    </springProfile>
    <springProfile name="dev">
        <property name="LOG_LEVEL" value="DEBUG" />
    </springProfile>
    <springProfile name="prod">
        <property name="LOG_LEVEL" value="WARN" />
    </springProfile>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.yourpackage" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
